# Dataset Exploration
*This notebook will supply data and insight for the markdown*

Datasets are categorized as: Informational, Player, or Team. 
Each exploration will include the following:
- Shape
- Data Types
- Missing Data
- Duplicate Rows
- Descriptive Statistics
- Datetimes

In [1]:
import pandas as pd
import numpy as np

## Inforational Tables
- Player Season Info
- Player Career Info
- Team Abbrev

### Player Season Info

In [16]:
df = pd.read_csv("../data/raw/Player Season Info.csv")
print(f"There are {df.shape[1]} columns and {df.shape[0]} rows.")
print("------------------------------------------------------\n")

print("First Five Rows:")
print("------------------------------------------------------")
display(df.head())
print("------------------------------------------------------\n")



print(df.info())

There are 10 columns and 32504 rows.
------------------------------------------------------

First Five Rows:
------------------------------------------------------

,season,seas_id,player_id,player,birth_year,pos,age,lg,tm,experience
0,1947,1,1,Al Brightman,NaN,F,23.0,BAA,BOS,1
1,1947,2,2,Al Lujack,NaN,F,26.0,BAA,WSC,1
2,1947,3,3,Al Negratti,NaN,F-C,25.0,BAA,WSC,1
3,1947,4,4,Angelo Musi,NaN,G,28.0,BAA,PHW,1
4,1947,5,5,Ariel Maughan,1923.0,F,23.0,BAA,DTF,1

------------------------------------------------------

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32504 entries, 0 to 32503
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      32504 non-null  int64
 1   seas_id     32504 non-null  int64
 2   player_id   32504 non-null  int64
 3   player      32504 non-null  object
 4   birth_year  2872 non-null   float64
 5   pos         32504 non-null  object
 6   age         32482 non-null  float64
 7   lg          32504 non-null  object
 8   tm          32504 non-null  object
 9   experience  32504 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 2.5+ MB
None

*Notes*
There's lots of null values in the birth year. 
Theres some null values in age, but not as many as there are in birth year.
Birth Year and Age are both floats.