# Dataset Exploration

Datasets are categorized as: Informational, Player, or Team. 
Each exploration will include the following:
- Shape
- Data Types
- Missing Data
- Duplicate Rows
- Descriptive Statistics
- Datetimes

*Column notes will include insights found for simple explorations that may be ommited from the final code*

In [4]:
import pandas as pd
import numpy as np
import sys
import os
from pathlib import Path
sys_path = os.path.abspath("../scripts")
if sys_path not in sys.path:
    sys.path.append(sys_path)

from exploration_functions import InitialExploration

## Inforational Tables
- Player Season Info
- Player Career Info
- Team Abbrev

### Player Season Info

In [27]:
psi_file_path = Path(r"..\data\raw\Player Season Info.csv")
psi = InitialExploration(psi_file_path)
psi.show_report()

Shape
============================================================

There are 10 columns and 32504 rows.
------------------------------------------------------

First Five Rows:
------------------------------------------------------
   season  seas_id  player_id         player  birth_year  pos   age   lg   tm  \
0    1947        1          1   Al Brightman         NaN    F  23.0  BAA  BOS
1    1947        2          2      Al Lujack         NaN    F  26.0  BAA  WSC
2    1947        3          3    Al Negratti         NaN  F-C  25.0  BAA  WSC
3    1947        4          4    Angelo Musi         NaN    G  28.0  BAA  PHW
4    1947        5          5  Ariel Maughan      1923.0    F  23.0  BAA  DTF

   experience
0           1
1           1
2           1
3           1
4           1
------------------------------------------------------

Data Types
============================================================

season:     int64
seas_id:    int64
player_id:  int64
player:     object
birth_year: float64
pos:        object
age:        float64
lg:         object
tm:         object
experience: int64
------------------------------------------------------

Missing Data
============================================================

Rows without missing data:
------------------------------------------------------
season:      100.00%
seas_id:     100.00%
player_id:   100.00%
player:      100.00%
pos:         100.00%
lg:          100.00%
tm:          100.00%
experience:  100.00%


Rows with some missing data:
------------------------------------------------------
age:         99.93%


Rows with a lot of missing data:
------------------------------------------------------
birth_year:  8.84%


------------------------------------------------------

Duplicate Rows Found: 0
============================================================

Summary Statistics:
============================================================

Quantitative Columns:
------------------------------------------------------
             season       seas_id     player_id   birth_year           age  \
count  32504.000000  32504.000000  32504.000000  2872.000000  32482.000000
mean    1995.632814  16252.500000   2693.542118  1944.178969     26.479773
std       20.649574   9383.240911   1325.341591    15.229694      3.855312
min     1947.000000      1.000000      1.000000  1914.000000     18.000000
25%     1980.000000   8126.750000   1660.000000  1938.000000     24.000000
50%     1999.000000  16252.500000   2780.000000  1946.000000     26.000000
75%     2013.000000  24378.250000   3783.000000  1951.000000     29.000000
max     2025.000000  32504.000000   5297.000000  2002.000000     46.000000

         experience
count  32504.000000
mean       4.983756
std        3.737928
min        1.000000
25%        2.000000
50%        4.000000
75%        7.000000
max       22.000000
------------------------------------------------------

Qualitative Columns:
------------------------------------------------------
               player    pos     lg     tm
count           32504  32504  32504  32504
unique           5248     25      3    105
top     Eddie Johnson     SG    NBA    TOT
freq               33   6527  30284   2949
------------------------------------------------------

Value Counts for Columns with less than 25 unique values:
------------------------------------------------------

pos
SG           20.08%
PF           19.66%
C            18.97%
SF           18.63%
PG           18.38%
G             0.94%
F             0.83%
G-F           0.48%
F-C           0.42%
F-G           0.36%
C-F           0.29%
SF-SG         0.14%
SG-PG         0.13%
PG-SG         0.13%
C-PF          0.13%
PF-C          0.12%
PF-SF         0.12%
SG-SF         0.11%
SF-PF         0.08%
SG-PF         0.01%
SF-PG         0.00%
C-SF          0.00%
PG-SF         0.00%
SF-C          0.00%
SG-PG-SF      0.00%
Name: proportion, dtype: object
------------------------------------------------------

lg
NBA     93.17%
ABA      5.04%
BAA      1.79%
Name: proportion, dtype: object
------------------------------------------------------

*Columns and Notes*

- season
    - year of the season
- seas_id
    - primary key
    - the unique id of a specific player in a specific year on a specific team etc
    - seas_id 17000 is specifically Kobe Bryant's 2001 season
- player_id
    - id unique to the player
- player
    - players name
- birth_year
    - should be a birth year
    - Mostly null values
    - will most likely drop this column in the cleaning phase
- pos
    - What position the player played in a given season
    - Can change over time
    - Most values are single positions but may need to do some cleaning on the other values.
- age
    - age of player at the end of a given season
    - 22 Missing Values
    - Occurs in years 1947, 1968, 1969, 1970, 1971, 1973
    - Won't likely be a big issue but just something to remember
- lg
    - League played in
- tm
    - team played on
    - can have multiple for a season
    - different teams in the same season will have different seas_ids
- experience
    - number of years in the league at end of the season
    - rookie year is 1

### Player Career Info

In [33]:
pci_file_path = Path(r"..\data\raw\Player Career Info.csv")
pci = InitialExploration(pci_file_path)
pci.show_report()

Shape
============================================================

There are 7 columns and 5328 rows.
------------------------------------------------------

First Five Rows:
------------------------------------------------------
   player_id         player  birth_year    hof  num_seasons  first_seas  \
0          1   Al Brightman         NaN  False          1.0      1947.0
1          2      Al Lujack         NaN  False          1.0      1947.0
2          3    Al Negratti         NaN  False          1.0      1947.0
3          4    Angelo Musi         NaN  False          3.0      1947.0
4          5  Ariel Maughan      1923.0  False          5.0      1947.0

   last_seas
0     1947.0
1     1947.0
2     1947.0
3     1949.0
4     1951.0
------------------------------------------------------

Data Types
============================================================

player_id:   int64
player:      object
birth_year:  float64
hof:         bool
num_seasons: float64
first_seas:  float64
last_seas:   float64
------------------------------------------------------

Missing Data
============================================================

Rows without missing data:
------------------------------------------------------
player_id:    100.00%
player:       100.00%
hof:          100.00%


Rows with some missing data:
------------------------------------------------------
num_seasons:  99.42%
first_seas:   99.42%
last_seas:    99.42%


Rows with a lot of missing data:
------------------------------------------------------
birth_year:   7.41%


------------------------------------------------------

Duplicate Rows Found: 0
============================================================

Summary Statistics:
============================================================

Quantitative Columns:
------------------------------------------------------
         player_id   birth_year  num_seasons   first_seas    last_seas
count  5328.000000   395.000000  5297.000000  5297.000000  5297.000000
mean   2664.319632  1943.632911     4.974514  1990.229186  1994.472343
std    1537.896606    17.562923     4.402038    23.263822    23.961143
min       1.000000  1914.000000     1.000000  1947.000000  1947.000000
25%    1332.750000  1927.000000     1.000000  1971.000000  1975.000000
50%    2664.500000  1945.000000     3.000000  1992.000000  1998.000000
75%    3996.250000  1951.000000     8.000000  2011.000000  2017.000000
max    5297.000000  2002.000000    22.000000  2025.000000  2025.000000
------------------------------------------------------

Qualitative Columns:
------------------------------------------------------
                player    hof
count             5328   5328
unique            5248      2
top     George Johnson  False
freq                 3   5165
------------------------------------------------------

Value Counts for Columns with less than 25 unique values:
------------------------------------------------------

*Columns and Notes*
- player_id
    - primary key
- player
    - Player name
- birth_year
    - Mostly null 
    - Most likely going to be dropped.
    - Doesnt add much here beyond stating what the age at retirement was. 
        - This can be found in player season info if really needed
- hof
    - if the player has been inducted into the hall of fame. 
    - accurate through 10/01/2024
- num_seasons
    - Number of seasons played
    - Needs missing values handeled and converted to int
- first_seas
    - Year of rookie season
    - Needs missing values handeled and converted to int
- last_seas
    - Year of retirement
    - Needs missing values handeled and converted to int

### Team Abbrev

In [40]:
team_abv_file_path = Path(r"..\data\raw\Team Abbrev.csv")
team_abv = InitialExploration(team_abv_file_path)
team_abv.show_report()

Shape
============================================================

There are 5 columns and 1871 rows.
------------------------------------------------------

First Five Rows:
------------------------------------------------------
   season   lg               team  playoffs abbreviation
0    2025  NBA      Atlanta Hawks     False          ATL
1    2025  NBA     Boston Celtics     False          BOS
2    2025  NBA      Brooklyn Nets     False          BRK
3    2025  NBA  Charlotte Hornets     False          CHO
4    2025  NBA      Chicago Bulls     False          CHI
------------------------------------------------------

Data Types
============================================================

season:       int64
lg:           object
team:         object
playoffs:     bool
abbreviation: object
------------------------------------------------------

Missing Data
============================================================

Rows without missing data:
------------------------------------------------------
season:        100.00%
lg:            100.00%
team:          100.00%
playoffs:      100.00%


Rows with some missing data:
------------------------------------------------------
abbreviation:  95.56%


Rows with a lot of missing data:
------------------------------------------------------


------------------------------------------------------

Duplicate Rows Found: 0
============================================================

Summary Statistics:
============================================================

Quantitative Columns:
------------------------------------------------------
            season
count  1871.000000
mean   1992.729022
std      20.696374
min    1947.000000
25%    1976.000000
50%    1995.000000
75%    2010.000000
max    2025.000000
------------------------------------------------------

Qualitative Columns:
------------------------------------------------------
          lg            team playoffs abbreviation
count   1871            1871     1871         1788
unique     3              97        2          104
top      NBA  League Average     True          BOS
freq    1734              83     1015           79
------------------------------------------------------

Value Counts for Columns with less than 25 unique values:
------------------------------------------------------

lg
NBA     92.68%
ABA      5.51%
BAA      1.82%
Name: proportion, dtype: object
------------------------------------------------------

*Columns and Notes*

<u>There is no primary key in this table</u>

- season 
    - Season Year
- lg 
    - League
- team 
    - Full Team Name
- playoffs
    - If the team made the playoffs
- abbreviation
    - Team Abbrevation
    - Forign Key in other informational Tables